</head>
<body>
  <nav>
        <i class="fas fa-plane"></i>
    <a 
      href="/meals/new?message=" <%- title === 'Add Meal' ? 'class="active"' : '' %>
    >
      ADD Meal
    </a>
    <a 
      href="/flights/new" <%- title === 'New Flight' ? 'class="active"' : '' %>
    >
      ADD Flight
    </a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      All Flights
    </a>
  </nav>